{% extends 'bootstrap_responsive.html' %}

{%- block title %} - Chirpy{% endblock -%}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chirpy.css') }}" />
{% endblock %}

</head>

{% block body_content %}
    <nav>
        <ul class="nav nav-tabs">
            <li><a href="{{ url_for('index')}}">da chirps</a></li>
            <li><a href="{{ url_for('add')}}">chirp chirp</a></li>
        </ul>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2012 by <a href="http://pic.twitter.com/ZpvapDAB">The Data Nerds</a>.
        {% endblock %}
    </div>

{% endblock -%}